[Unit]
Description=A Collection of NHL APIs

[Service]
Type=simple
User=pi
WorkingDirectory=/app
ExecStart=/usr/bin/java -jar nhl-system.jar
Restart=on-failure

[Install]
WantedBy=multi-user.target
